@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("./assets/fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-weight: 600;
}
:root {
  --swiper-theme-color: #000;
}

* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-weight: 400;
  background-color: #f7f7f5;
  min-width: 650px;
  font-family: "SF-Pro-Display", sans-serif;
}

p,
h3,
h2,
a {
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1400px;
  padding: 0 50px;
  margin: auto;
  padding-top: 140px;
}

.button {
  padding: 12px 32px;
  border-radius: 100px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  cursor: pointer;
}
.button--secondary {
  background-color: transparent;
  border: 1.5px solid #d2bbff;
}
.button--primary {
  background-color: #4208b3;
  border: none;
  color: #fff;
}
.button:hover {
  opacity: 0.8;
}

.header {
  min-height: 120px;
  padding-top: 50px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header__logo {
  width: 288px;
  height: 43px;
}
.header__right-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__chip {
  background-color: #efefed;
  border-radius: 100px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 22px;
}
.header__chip-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-right: 10px;
}
.header__badges-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 64px;
}
.header__badge {
  border-radius: 100px;
  width: 32px;
  height: 32px;
}

.intro {
  overflow: hidden;
}
.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./assets/images/brush.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}
.intro__desc {
  font-size: 56px;
  line-height: 63px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 47px;
}
.intro__desc--blue {
  color: #0069ff;
}
.intro__subdesc {
  font-size: 32px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 21px;
  text-align: center;
}
.intro__button {
  font-size: 36px;
  line-height: 19px;
  font-weight: 700;
  padding: 22px 24px;
  background-color: #d2bbff;
  border: none;
  border-radius: 12px;
  margin-bottom: 94px;
  cursor: pointer;
}
.intro__button:hover {
  opacity: 0.8;
}
.intro__chips-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 167px;
}
.intro__chip {
  background: linear-gradient(90deg, #d9ee77 8.19%, #ee5e37 49.3%, #d9b8f3 94.64%);
  padding: 14px 24px;
  font-size: 28px;
  font-weight: 700;
  border-radius: 40px;
  text-wrap: nowrap;
  margin-right: -20px;
}
.intro__chip--1 {
  transform: rotate(-13.5deg);
  z-index: 1;
}
.intro__chip--2 {
  transform: rotate(10.5deg);
  z-index: 2;
}
.intro__chip--3 {
  transform: rotate(-22.5deg);
  z-index: 3;
}
.intro__chip--4 {
  transform: rotate(7.5deg);
  z-index: 4;
}
.intro__chip--5 {
  transform: rotate(-19.7deg);
  z-index: 3;
}
.intro__chip--6 {
  transform: rotate(19deg);
  z-index: 4;
}
.intro__chip--7 {
  transform: rotate(-13.3deg);
  z-index: 5;
}

.section-header {
  background-color: #d2bbff;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  padding: 40px 88px;
  font-size: 64px;
  font-weight: 700;
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 32px;
}
.section-header--right {
  border-bottom-left-radius: 48px;
}
.section-header--left {
  border-bottom-right-radius: 48px;
}

.purple-span {
  color: #4208b3;
}

.text-line-through {
  text-decoration-line: line-through;
  text-decoration-color: #4208b3;
  position: relative;
}

.text-under {
  position: absolute;
  top: -22px;
  left: 10px;
  color: #4208b3;
}

.about__subheader {
  background-color: #fff;
  border-radius: 32px;
  padding: 16px;
  margin-bottom: 10px;
}
.about__chip {
  border: 1.5px solid #4208b3;
  border-radius: 100px;
  color: #4208b3;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 32px;
  width: fit-content;
}
.about__container {
  background-color: #fff;
  border-radius: 32px;
  padding: 40px;
  margin-bottom: 30px;
}
.about__container-title {
  font-size: 48px;
  width: 100%;
}
.about__container-title--left {
  text-align: left;
}
.about__container-title--center {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}
.about__container-title__number {
  font-size: 24px;
  font-weight: 600;
  color: #4208b3;
  padding-top: 10px;
}
.about__image-container {
  background-color: #f7f7f5;
  width: 100%;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.about__image-container__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about__image-container__text-wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 426px;
  padding: 7px 24px;
  border-radius: 16px;
  min-height: 142px;
  flex-grow: 1;
}
.about__image-container__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.about__image-container__desc {
  font-size: 22px;
  line-height: 26px;
}
.about__image-container__desc--large {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.about__image-container__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #4208b3;
}
.about__image-container__link:hover {
  opacity: 0.8;
}
.about__image-container__image {
  max-width: 622px;
}

.topics__topic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  border-bottom: 2px solid #a4a4a4;
  padding: 24px 0 40px 0;
  margin-bottom: 32px;
}
.topics__chip {
  border: 1.5px solid #4208b3;
  border-radius: 100px;
  padding: 18px 20px;
  color: #4208b3;
  font-size: 24px;
  font-weight: 600;
}
.topics__text {
  font-size: 53px;
  color: #646161;
}

.google__container {
  width: 100%;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px;
}
.google__left-part {
  background-color: #f7f7f5;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 20px;
}
.google__left-part__img {
  max-height: 172px;
}
.google__left-part__text {
  font-size: 32px;
  line-height: 38px;
}
.google__btn {
  text-wrap: nowrap;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.companies__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.companies__flex__item {
  height: 126px;
  width: 220px;
  background-color: #ecebeb;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}
.companies__flex__img {
  width: 100%;
  height: auto;
}

.review__card {
  width: 880px;
  height: 352px;
  background-color: #d2bbff;
  border-radius: 26px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 54px;
  box-shadow: #d2bbf5 0px 1px 1px, #d2bbf5 0px 2px 2px, #d2bbf5 0px 4px 4px, #d2bbf5 0px 8px 8px, #d2bbf5 0px 16px 16px;
}
.review__card__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.review__card__apostrof {
  width: 51px;
  height: 51px;
}
.review__card__text {
  font-size: 24px;
  line-height: 28px;
  max-width: 557px;
}
.review__card__adress {
  font-size: 30px;
  line-height: 35px;
}
.review__card__avatar-wrapper {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
}
.review__card__avatar {
  width: 170px;
  padding-bottom: 10px;
}

.swiper-slide {
  height: 376px;
}

.footer__container {
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
}
.footer__top {
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 33px;
}
.footer__header {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.footer__btn {
  font-size: 22px;
  font-weight: 500;
}
.footer__contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 43px;
}
.footer__contacts__col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.footer__contacts__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.footer__contacts__link {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.footer__contacts__link:hover {
  color: #4208b3;
}
.footer__bottom {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
.footer__bottom__text {
  font-size: 16px;
  color: #a4a4a4;
}
.footer__bottom__link {
  font-size: 16px;
  color: #a4a4a4;
  text-decoration: none;
  cursor: default;
}

/* (1024px and down) */
@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 30px;
    padding-top: 100px;
  }
  .intro__container {
    background-size: 100%;
  }
  .intro__button {
    font-size: 30px;
  }
  .intro__chips-container {
    min-height: 100px;
  }
  .intro__chip {
    padding: 14px 16px;
    font-size: 20px;
  }
  .intro__desc {
    font-size: 46px;
  }
  .section-header {
    padding: 25px 88px;
    font-size: 50px;
  }
  .about__container {
    padding: 30px;
  }
  .about__container-title {
    font-size: 42px;
  }
  .about__container-title--center {
    padding-left: 20px;
  }
  .about__image-container {
    flex-direction: column-reverse;
  }
  .about__image-container__text-wrapper {
    max-width: 100%;
    padding: 14px 24px;
    min-height: 100%;
  }
  .about__image-container__image {
    width: 100%;
  }
  .topics__text {
    font-size: 44px;
  }
  .google__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .google__btn {
    text-wrap: wrap;
    font-size: 22px;
    line-height: 26px;
  }
  .review__card {
    width: 560px;
    height: 465px;
    gap: 10px;
  }
  .review__card__apostrof {
    width: 42px;
    height: 42px;
  }
  .review__card__text {
    font-size: 20px;
    max-width: 255px;
  }
  .review__card__adress {
    font-size: 22px;
  }
  .swiper-slide {
    height: 490px;
  }
}
@media only screen and (max-width: 930px) {
  .header__chip {
    display: none;
  }
}
/* (768px and down) */
@media only screen and (max-width: 768px) {
  .header__logo {
    width: 250px;
    height: auto;
  }
  .intro__desc {
    line-height: 55px;
    font-size: 42px;
  }
  .intro__container {
    background-position: 50% 0;
    background-size: 120%;
  }
  .intro__chips-container {
    min-height: 160px;
  }
  .intro__chip {
    margin-right: -60px;
  }
  .intro__chip--1 {
    transform: rotate(-40.5deg);
  }
  .intro__chip--2 {
    transform: rotate(37.5deg);
  }
  .intro__chip--3 {
    transform: rotate(-49.5deg);
  }
  .intro__chip--4 {
    transform: rotate(34.5deg);
  }
  .intro__chip--5 {
    transform: rotate(-46.7deg);
    z-index: 5;
  }
  .intro__chip--6 {
    transform: rotate(46deg);
  }
  .intro__chip--7 {
    transform: rotate(-50.3deg);
    margin-right: -10px;
  }
  .section-header {
    padding: 25px 40px;
    font-size: 40px;
  }
  .about__container-title {
    font-size: 36px;
  }
  .about__container-title__number {
    font-size: 20px;
  }
  .topics__text {
    font-size: 36px;
  }
  .review__card {
    width: 483px;
    height: 488px;
    padding: 20px 30px;
  }
  .review__card__text {
    max-width: 234px;
  }
  .swiper-slide {
    height: 520px;
  }
}

/*# sourceMappingURL=styles.css.map */
